@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    background-image: url("/assets/img/Background_Index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 250px;
}

main .title {
    font-family: "Press Start 2P";
    font-size: 40px;
}

main .start_btn {
    padding: 12px 90px;
    cursor: pointer;
    background-color: #594435;
    outline: none;
    transition: all .2s ease-in-out;
    border-top: 2px solid #2a2826;
    border-bottom: 5px solid #2a2826;
    border-right: 5px solid #2a2826;
    border-left: 2px solid #2a2826;

    font-size: 20px;
    font-family: "Share Tech Mono";
    color: #e6ceb0;
}
main .start_btn:hover {
    background-color: #684f3f;
    transform: scale(1.04);
}


/* =========================
   TRANSIÇÃO ENTRE PÁGINAS
========================= */

.page-transition {
    position: fixed;
    inset: 0;
    background-color: #fceeda;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
    z-index: 9999;
}

.page-transition.active {
    opacity: 1;
}