header {
    animation: slideDown 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

main .lyric {
    animation: slideFromLeft 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

main .texto {
    animation: slideFromRight 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* Header caindo do topo */
@keyframes slideDown {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Lyric vindo da esquerda */
@keyframes slideFromLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Texto vindo da direita */
@keyframes slideFromRight {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



main .music-cards .card .card_btn {
    cursor: url('/assets/img/cursor2.png'), auto;
}

body {
    cursor: url('/assets/img/cursor.png'), auto;
}


.btn-back {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 999;

    font-family: "Press Start 2P";
    font-size: 10px;
    color: #eeeeee;
    background-color: #24242428;

    padding: 10px 14px;
    text-decoration: none;

    box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.25);
    cursor: url('/assets/img/cursor2.png'), auto;


    transition: transform 0.15s steps(2, end);
}
.btn-back:active {
    transform: translate(0, 0);
    box-shadow: 2px 2px 0 #262626;
}
